Source: mt-imager
Section: science
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, nvidia-cuda-toolkit, libboost-dev,
 libcasacore2-dev, libcfitsio3-dev, liblog4cxx10-dev, libboost-system-dev,
 libboost-thread-dev, libboost-regex-dev, libhdf5-dev, libboost-chrono-dev, gcc-4.6,
 g++-4.6
Standards-Version: 3.9.2
Homepage: http://www.mtimager.com/

Package: mt-imager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: high performance image synthesiser for radio interferometry
 The Malta-imager (mt-imager for short) is a high performance image synthesiser
 for radio interferometry. It is implemented in C++ and CUDA. With the help of
 international collaborators, there will soon be further development as part of
 Daniel's doctorate studies.
